<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<header id="header" th:fragment="header">
    <div id="header-left">
        <a href="/admin">관리자 홈</a>
    </div>

    <div id="header-right">
        <span th:text="${#authentication.principal.adminName}">관리자명</span>
        <form th:action="@{/admin/logout}" method="post" style="display:inline;">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <button type="submit" id="logout-btn">로그아웃</button>
        </form>
    </div>
</header>
</body>
</html>